* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v2126_1039 {
  width: 100%;
  height: 5107px;
  background: url("../images/v2126_1039.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v2126_1040 {
  width: 100%;
  height: 900px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v2126_1041 {
  width: 100%;
  height: 900px;
  background: url("../images/v2126_1041.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v2126_1045 {
  width: 710px;
  height: 196px;
  background: url("../images/v2126_1045.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 48px;
  opacity: 1;
  position: absolute;
  top: 325px;
  left: 83px;
  overflow: hidden;
}
.v2126_1046 {
  width: 711px;
  height: 196px;
  background: url("../images/v2126_1046.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 18px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 1px;
  overflow: hidden;
}
.v2126_1047 {
  width: 711px;
  color: rgba(0,0,0,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: SF Pro;
  font-weight: Bold;
  font-size: 49px;
  opacity: 1;
  text-align: left;
}
.v2126_1048 {
  width: 711px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 136px;
  left: 0px;
  font-family: SF Pro;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v2126_1049 {
  width: 235px;
  height: 48px;
  background: rgba(0,148,255,1);
  padding: 12px 36px;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 634px;
  left: 82px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
}
.v2126_1050 {
  width: 163px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 12px;
  left: 36px;
  font-family: SF Pro;
  font-weight: Bold;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.name {
  color: #fff;
}
.v2126_1052 {
  width: 100%;
  height: 96px;
  background: rgba(255,255,255,1);
  padding: 24px 80px;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v2126_1053 {
  width: 150px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 21px;
  left: 80px;
  font-family: SF Pro;
  font-weight: Bold;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v2126_1054 {
  width: 242px;
  height: 24px;
  background: url("../images/v2126_1054.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 36px;
  opacity: 1;
  position: absolute;
  top: 36px;
  left: 478px;
  overflow: hidden;
}
.v2126_1055 {
  width: 45px;
  color: rgba(0,0,0,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: SF Pro;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v2126_1056 {
  width: 65px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 81px;
  font-family: SF Pro;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v2126_1057 {
  width: 60px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 182px;
  font-family: SF Pro;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.name {
  color: #fff;
}
.v2126_1059 {
  width: 100%;
  height: 1834px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 900px;
  left: 0px;
  overflow: hidden;
}
.v2126_1060 {
  width: 100%;
  height: 496px;
  background: url("../images/v2126_1060.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 136px;
  opacity: 1;
  position: absolute;
  top: 1236px;
  left: 80px;
  overflow: hidden;
}
.v2126_1061 {
  width: 624px;
  height: 347px;
  background: url("../images/v2126_1061.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 36px;
  opacity: 1;
  position: absolute;
  top: 74px;
  left: 0px;
  overflow: hidden;
}
.v2126_1062 {
  width: 624px;
  height: 271px;
  background: url("../images/v2126_1062.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 12px;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v2126_1063 {
  width: 71px;
  color: rgba(0,148,255,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: SF Pro;
  font-weight: Bold;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v2126_1064 {
  width: 624px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 36px;
  left: 0px;
  font-family: SF Pro;
  font-weight: Bold;
  font-size: 61px;
  opacity: 1;
  text-align: left;
}
.v2126_1065 {
  width: 624px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 121px;
  left: 0px;
  font-family: SF Pro;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: justified;
}
.name {
  color: #fff;
}
.v2126_1067 {
  width: 520px;
  height: 496px;
  background: url("../images/v2126_1067.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 676px;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v2126_1068 {
  width: 520px;
  height: 496px;
  background: url("../images/v2126_1068.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
}
.v2126_1069 {
  width: 100%;
  height: 496px;
  background: url("../images/v2126_1069.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 136px;
  opacity: 1;
  position: absolute;
  top: 662px;
  left: 80px;
  overflow: hidden;
}
.v2126_1070 {
  width: 520px;
  height: 496px;
  background: url("../images/v2126_1070.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v2126_1071 {
  width: 520px;
  height: 496px;
  background: url("../images/v2126_1071.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
}
.v2126_1072 {
  width: 624px;
  height: 347px;
  background: url("../images/v2126_1072.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 36px;
  opacity: 1;
  position: absolute;
  top: 74px;
  left: 656px;
  overflow: hidden;
}
.v2126_1073 {
  width: 624px;
  height: 271px;
  background: url("../images/v2126_1073.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 12px;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v2126_1074 {
  width: 84px;
  color: rgba(0,148,255,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: SF Pro;
  font-weight: Bold;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v2126_1075 {
  width: 624px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 36px;
  left: 0px;
  font-family: SF Pro;
  font-weight: Bold;
  font-size: 61px;
  opacity: 1;
  text-align: left;
}
.v2126_1076 {
  width: 624px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 121px;
  left: 0px;
  font-family: SF Pro;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: justified;
}
.name {
  color: #fff;
}
.v2126_1078 {
  width: 100%;
  height: 496px;
  background: url("../images/v2126_1078.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 136px;
  opacity: 1;
  position: absolute;
  top: 96px;
  left: 80px;
  overflow: hidden;
}
.v2126_1079 {
  width: 624px;
  height: 317px;
  background: url("../images/v2126_1079.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 36px;
  opacity: 1;
  position: absolute;
  top: 89px;
  left: 0px;
  overflow: hidden;
}
.v2126_1080 {
  width: 624px;
  height: 241px;
  background: url("../images/v2126_1080.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 12px;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v2126_1081 {
  width: 123px;
  color: rgba(0,148,255,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: SF Pro;
  font-weight: Bold;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v2126_1082 {
  width: 624px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 36px;
  left: 0px;
  font-family: SF Pro;
  font-weight: Bold;
  font-size: 61px;
  opacity: 1;
  text-align: left;
}
.v2126_1083 {
  width: 624px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 121px;
  left: 0px;
  font-family: SF Pro;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: justified;
}
.name {
  color: #fff;
}
.v2126_1085 {
  width: 520px;
  height: 496px;
  background: url("../images/v2126_1085.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 676px;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v2126_1086 {
  width: 520px;
  height: 496px;
  background: url("../images/v2126_1086.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
}
.v2126_1087 {
  width: 100%;
  height: 567px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 2734px;
  left: 0px;
  overflow: hidden;
}
.v2126_1088 {
  width: 627px;
  height: 375px;
  background: url("../images/v2126_1088.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 36px;
  opacity: 1;
  position: absolute;
  top: 96px;
  left: 77px;
  overflow: hidden;
}
.v2126_1089 {
  width: 627px;
  height: 291px;
  background: url("../images/v2126_1089.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 20px;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v2126_1090 {
  width: 627px;
  color: rgba(0,148,255,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: SF Pro;
  font-weight: Bold;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v2126_1091 {
  width: 627px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 44px;
  left: 0px;
  font-family: SF Pro;
  font-weight: Bold;
  font-size: 39px;
  opacity: 1;
  text-align: left;
}
.v2126_1092 {
  width: 627px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 111px;
  left: 0px;
  font-family: SF Pro;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: justified;
}
.name {
  color: #fff;
}
.v2126_1094 {
  width: 624px;
  height: 292px;
  background: url("../images/v2126_1094.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 138px;
  left: 764px;
  overflow: hidden;
}
.v2126_1095 {
  width: 100%;
  height: 128px;
  background: url("../images/v2126_1095.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 64px;
  overflow: hidden;
}
.v2126_1096 {
  width: 128px;
  height: 128px;
  background: url("../images/v2126_1096.png");
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 412px;
  border-radius: 50%;
}
.v2126_1097 {
  width: 128px;
  height: 128px;
  background: url("../images/v2126_1097.png");
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
}
.v2126_1098 {
  width: 128px;
  height: 128px;
  background: url("../images/v2126_1098.png");
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 564px;
  border-radius: 50%;
}
.v2126_1099 {
  width: 128px;
  height: 128px;
  background: url("../images/v2126_1099.png");
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 716px;
  border-radius: 50%;
}
.v2126_1100 {
  width: 128px;
  height: 128px;
  background: url("../images/v2126_1100.png");
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 44px;
  border-radius: 50%;
}
.v2126_1101 {
  width: 128px;
  height: 128px;
  background: url("../images/v2126_1101.png");
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 260px;
}
.v2126_1102 {
  width: 128px;
  height: 128px;
  background: url("../images/v2126_1102.png");
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 1020px;
  border-radius: 50%;
}
.v2126_1103 {
  width: 128px;
  height: 128px;
  background: url("../images/v2126_1103.png");
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 109px;
  border-radius: 50%;
}
.v2126_1104 {
  width: 128px;
  height: 128px;
  background: url("../images/v2126_1104.png");
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 868px;
  border-radius: 50%;
}
.v2126_1105 {
  width: 736px;
  height: 128px;
  background: url("../images/v2126_1105.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 164px;
  left: 64px;
  overflow: hidden;
}
.v2126_1106 {
  width: 128px;
  height: 128px;
  background: url("../images/v2126_1106.png");
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 50%;
}
.v2126_1107 {
  width: 128px;
  height: 128px;
  background: url("../images/v2126_1107.png");
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 456px;
  border-radius: 50%;
}
.v2126_1108 {
  width: 128px;
  height: 128px;
  background: url("../images/v2126_1108.png");
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 152px;
  border-radius: 50%;
}
.v2126_1109 {
  width: 128px;
  height: 128px;
  background: url("../images/v2126_1109.png");
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 608px;
  border-radius: 50%;
}
.v2126_1110 {
  width: 128px;
  height: 128px;
  background: url("../images/v2126_1110.png");
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 304px;
  border-radius: 50%;
}
.v2126_1111 {
  width: 625px;
  height: 292px;
  background: linear-gradient(rgba(255,255,255,1), rgba(255,255,255,0));
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v2126_1112 {
  width: 100%;
  height: 755px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 3301px;
  left: 0px;
  overflow: hidden;
}
.v2126_1113 {
  width: 100%;
  height: 1430px;
  background: url("../images/v2126_1113.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v2126_1117 {
  width: 100%;
  height: 182px;
  background: url("../images/v2126_1117.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 12px;
  opacity: 1;
  position: absolute;
  top: 96px;
  left: 80px;
  overflow: hidden;
}
.v2126_1118 {
  width: 292px;
  color: rgba(0,148,255,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: SF Pro;
  font-weight: Bold;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v2126_1119 {
  width: 100%;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 36px;
  left: 0px;
  font-family: SF Pro;
  font-weight: Bold;
  font-size: 61px;
  opacity: 1;
  text-align: left;
}
.v2126_1120 {
  width: 384px;
  height: 320px;
  background: url("../images/v2126_1120.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 339px;
  left: 80px;
  overflow: hidden;
}
.v2126_1121 {
  width: 384px;
  height: 320px;
  background: url("../images/v2126_1121.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 24px 24px;
  margin: 24px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
}
.v2126_1122 {
  width: 210px;
  height: 48px;
  background: url("../images/v2126_1122.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 24px;
  left: 24px;
  overflow: hidden;
}
.v2126_1123 {
  width: 48px;
  height: 48px;
  background: url("../images/v2126_1123.png");
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 50%;
}
.v2126_1124 {
  width: 152px;
  height: 48px;
  background: url("../images/v2126_1124.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 58px;
  overflow: hidden;
}
.v2126_1125 {
  width: 152px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: SF Pro;
  font-weight: Bold;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v2126_1126 {
  width: 152px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 24px;
  left: 0px;
  font-family: SF Pro;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v2126_1127 {
  width: 350px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 96px;
  left: 24px;
  font-family: SF Pro;
  font-weight: Regular;
  font-size: 13px;
  opacity: 1;
  text-align: left;
}
.v2126_1128 {
  width: 384px;
  height: 220px;
  background: url("../images/v2126_1128.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 24px 24px;
  margin: 24px;
  opacity: 1;
  position: absolute;
  top: 339px;
  left: 496px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
}
.v2126_1129 {
  width: 210px;
  height: 48px;
  background: url("../images/v2126_1129.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 24px;
  left: 24px;
  overflow: hidden;
}
.v2126_1130 {
  width: 48px;
  height: 48px;
  background: url("../images/v2126_1130.png");
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 50%;
}
.v2126_1131 {
  width: 152px;
  height: 48px;
  background: url("../images/v2126_1131.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 58px;
  overflow: hidden;
}
.v2126_1132 {
  width: 152px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: SF Pro;
  font-weight: Bold;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v2126_1133 {
  width: 152px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 24px;
  left: 0px;
  font-family: SF Pro;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v2126_1134 {
  width: 350px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 96px;
  left: 24px;
  font-family: SF Pro;
  font-weight: Regular;
  font-size: 13px;
  opacity: 1;
  text-align: left;
}
.v2126_1135 {
  width: 384px;
  height: 260px;
  background: url("../images/v2126_1135.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 24px 24px;
  margin: 24px;
  opacity: 1;
  position: absolute;
  top: 339px;
  left: 912px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
}
.v2126_1136 {
  width: 210px;
  height: 48px;
  background: url("../images/v2126_1136.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 24px;
  left: 24px;
  overflow: hidden;
}
.v2126_1137 {
  width: 48px;
  height: 48px;
  background: url("../images/v2126_1137.png");
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 50%;
}
.v2126_1138 {
  width: 152px;
  height: 48px;
  background: url("../images/v2126_1138.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 58px;
  overflow: hidden;
}
.v2126_1139 {
  width: 152px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: SF Pro;
  font-weight: Bold;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v2126_1140 {
  width: 152px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 24px;
  left: 0px;
  font-family: SF Pro;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v2126_1141 {
  width: 350px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 96px;
  left: 24px;
  font-family: SF Pro;
  font-weight: Regular;
  font-size: 13px;
  opacity: 1;
  text-align: left;
}
.v2126_1142 {
  width: 100%;
  height: 563px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 4056px;
  left: 0px;
  overflow: hidden;
}
.v2126_1143 {
  width: 629px;
  height: 383px;
  background: url("../images/v2126_1143.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 20px;
  opacity: 1;
  position: absolute;
  top: 114px;
  left: 80px;
  overflow: hidden;
}
.v2126_1144 {
  width: 629px;
  color: rgba(0,148,255,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: SF Pro;
  font-weight: Bold;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v2126_1145 {
  width: 629px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 68px;
  left: 0px;
  font-family: SF Pro;
  font-weight: Bold;
  font-size: 39px;
  opacity: 1;
  text-align: left;
}
.v2126_1146 {
  width: 629px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 323px;
  left: 0px;
  font-family: SF Pro;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: justified;
}
.v2126_1147 {
  width: 517px;
  height: 371px;
  background: rgba(255,255,255,1);
  margin: 36px;
  opacity: 1;
  position: absolute;
  top: 96px;
  left: 840px;
  overflow: hidden;
}
.v2126_1148 {
  width: 517px;
  height: 276px;
  background: url("../images/v2126_1148.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 32px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v2126_1149 {
  width: 517px;
  height: 88px;
  background: url("../images/v2126_1149.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 32px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v2126_1150 {
  width: 242px;
  height: 88px;
  background: url("../images/v2126_1150.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v2126_1152 {
  width: 242px;
  height: 88px;
  background: url("../images/v2126_1152.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 274px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v2126_1154 {
  width: 517px;
  height: 156px;
  background: url("../images/v2126_1154.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 120px;
  left: 0px;
  overflow: hidden;
}
.v2126_1155 {
  width: 517px;
  height: 156px;
  background: url("../images/v2126_1155.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v2126_1158 {
  width: 100%;
  height: 488px;
  background: linear-gradient(rgba(6,8,65,1), rgba(85,0,213,1));
  opacity: 1;
  position: absolute;
  top: 4619px;
  left: 0px;
  overflow: hidden;
}
.v2126_1159 {
  width: 383px;
  height: 129px;
  background: url("../images/v2126_1159.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 172px;
  left: 81px;
  overflow: hidden;
}
.v2126_1160 {
  width: 383px;
  color: rgba(204,204,204,1);
  position: absolute;
  top: 49px;
  left: 0px;
  font-family: SF Pro;
  font-weight: Regular;
  font-size: 13px;
  opacity: 1;
  text-align: left;
}
.v2126_1161 {
  width: 89px;
  color: rgba(204,204,204,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Red Hat Display;
  font-weight: Bold;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v2126_1162 {
  width: 383px;
  color: rgba(204,204,204,1);
  position: absolute;
  top: 216px;
  left: 529px;
  font-family: SF Pro;
  font-weight: Regular;
  font-size: 13px;
  opacity: 1;
  text-align: left;
}
.v2126_1163 {
  width: 68px;
  color: rgba(204,204,204,1);
  position: absolute;
  top: 273px;
  left: 529px;
  font-family: SF Pro;
  font-weight: Regular;
  font-size: 13px;
  opacity: 1;
  text-align: left;
}
.v2126_1164 {
  width: 85px;
  color: rgba(204,204,204,1);
  position: absolute;
  top: 273px;
  left: 623px;
  font-family: SF Pro;
  font-weight: Regular;
  font-size: 13px;
  opacity: 1;
  text-align: left;
}
.v2126_1165 {
  width: 83px;
  color: rgba(204,204,204,1);
  position: absolute;
  top: 273px;
  left: 735px;
  font-family: SF Pro;
  font-weight: Regular;
  font-size: 13px;
  opacity: 1;
  text-align: left;
}
.v2126_1166 {
  width: 134px;
  color: rgba(204,204,204,1);
  position: absolute;
  top: 172px;
  left: 529px;
  font-family: Red Hat Display;
  font-weight: Bold;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v2126_1167 {
  width: 383px;
  height: 84px;
  background: url("../images/v2126_1167.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 173px;
  left: 976px;
  overflow: hidden;
}
.v2126_1168 {
  width: 383px;
  color: rgba(204,204,204,1);
  position: absolute;
  top: 44px;
  left: 0px;
  font-family: SF Pro;
  font-weight: Regular;
  font-size: 13px;
  opacity: 1;
  text-align: left;
}
.v2126_1169 {
  width: 158px;
  color: rgba(204,204,204,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Red Hat Display;
  font-weight: Bold;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v2126_1170 {
  width: 220px;
  color: rgba(204,204,204,1);
  position: absolute;
  top: 410px;
  left: 81px;
  font-family: SF Pro;
  font-weight: Regular;
  font-size: 13px;
  opacity: 1;
  text-align: left;
}
.v2126_1171 {
  width: 142px;
  height: 15px;
  background: url("../images/v2126_1171.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 11px;
  opacity: 1;
  position: absolute;
  top: 279px;
  left: 975px;
  overflow: hidden;
}
.v2126_1172 {
  width: 14px;
  height: 14px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v2126_1173 {
  width: 12px;
  height: 6px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 5px;
  left: 0px;
}
.v2126_1174 {
  width: 12px;
  height: 5px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 2px;
  left: 0px;
}
.v2126_1175 {
  width: 117px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 0px;
  left: 25px;
  font-family: Red Hat Text;
  font-weight: Regular;
  font-size: 13px;
  opacity: 1;
  text-align: left;
}
.v2126_1176 {
  width: 69px;
  height: 16px;
  background: url("../images/v2126_1176.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 319px;
  left: 975px;
  overflow: hidden;
}
.v2126_1177 {
  width: 14px;
  height: 11px;
  background: url("../images/v2126_1177.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 2px;
  left: 0px;
  overflow: hidden;
}
.v2126_1178 {
  width: 14px;
  height: 11px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v2126_1179 {
  width: 45px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 0px;
  left: 24px;
  font-family: Red Hat Text;
  font-weight: Regular;
  font-size: 13px;
  opacity: 1;
  text-align: left;
}
.v2126_1180 {
  width: 82px;
  height: 16px;
  background: url("../images/v2126_1180.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 319px;
  left: 1172px;
  overflow: hidden;
}
.v2126_1181 {
  width: 14px;
  height: 14px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 0px;
  overflow: hidden;
}
.v2126_1182 {
  width: 13px;
  height: 13px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v2126_1183 {
  width: 58px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 0px;
  left: 24px;
  font-family: Red Hat Text;
  font-weight: Regular;
  font-size: 13px;
  opacity: 1;
  text-align: left;
}
.v2126_1184 {
  width: 69px;
  height: 16px;
  background: url("../images/v2126_1184.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 279px;
  left: 1172px;
  overflow: hidden;
}
.v2126_1185 {
  width: 14px;
  height: 14px;
  background: url("../images/v2126_1185.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 0px;
  overflow: hidden;
}
.v2126_1186 {
  width: 14px;
  height: 14px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v2126_1187 {
  width: 45px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 0px;
  left: 24px;
  font-family: Red Hat Text;
  font-weight: Regular;
  font-size: 13px;
  opacity: 1;
  text-align: left;
}
